---
http_interactions:
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1c0VX3jXI_WMBIxIwyeAODlGOyNH_rF7x04IWxEsucX8/values/Form%20Responses%202!A2:E
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlwtB5C7mosGZt_vcN36vLIrUvmvNW9mG-CR5uz05A4qf_A-h_X4FRPdy0YQkFr77HnzqQAem9wOQS2c7OQNDAqCVYBzquPJ_5UseMFoJ5ZOb0PL7RnwAmR4Lt7Dag
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "'Form Responses 2'!A2:E1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "",
              "Marielyn",
              "Alvarado",
              "marielyn_alvarado@yahoo.com",
              "639173093543"
            ],
            [
              "",
              "Meri",
              "Alvarado",
              "marielyn.alvarado03@gmail.com",
              "9173093543"
            ]
          ]
        }
  recorded_at: Thu, 20 Jun 2019 13:48:53 GMT
- request:
    method: post
    uri: https://my.talkpush.com/api/talkpush_services/campaigns/3929/campaign_invitations
    body:
      encoding: UTF-8
      string: '{"api_key":"48530ba23eef6b45ffbc95d7c20a60b9","api_secret":"e2f724ba060f82ddf58923af494578a7","campaign_invitation":{"first_name":"Marielyn","last_name":"Alvarado","email":"","user_phone_number":"639173093543"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9bbe8ec3be2d827503280952c99b623a"
    body:
      encoding: ASCII-8BIT
      string: '{"error":"duplicated"}'
  recorded_at: Thu, 20 Jun 2019 13:48:54 GMT
- request:
    method: post
    uri: https://my.talkpush.com/api/talkpush_services/campaigns/3929/campaign_invitations
    body:
      encoding: UTF-8
      string: '{"api_key":"48530ba23eef6b45ffbc95d7c20a60b9","api_secret":"e2f724ba060f82ddf58923af494578a7","campaign_invitation":{"first_name":"Meri","last_name":"Alvarado","email":"","user_phone_number":"9173093543"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9bbe8ec3be2d827503280952c99b623a"
    body:
      encoding: ASCII-8BIT
      string: '{"error":"duplicated"}'
  recorded_at: Thu, 20 Jun 2019 13:48:55 GMT
recorded_with: VCR 5.0.0
