---
http_interactions:
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1c0VX3jXI_WMBIxIwyeAODlGOyNH_rF7x04IWxEsucX8/values/Form%20Responses%202!A2:E
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlwtB5C7mosGZt_vcN36vLIrUvmvNW9mG-CR5uz05A4qf_A-h_X4FRPdy0YQkFr77HnzqQAem9wOQS2c7OQNDAqCVYBzquPJ_5UseMFoJ5ZOb0PL7RnwAmR4Lt7Dag
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "'Form Responses 2'!A2:E1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "",
              "Marielyn",
              "Alvarado",
              "marielyn_alvarado@yahoo.com",
              "639173093543"
            ],
            [
              "",
              "Meri",
              "Alvarado",
              "marielyn.alvarado03@gmail.com",
              "9173093543"
            ]
          ]
        }
  recorded_at: Thu, 20 Jun 2019 13:16:05 GMT
- request:
    method: post
    uri: https://my.talkpush.com/api/talkpush_services/campaigns/3929/campaign_invitations
    body:
      encoding: UTF-8
      string: '{"api_key":"48530ba23eef6b45ffbc95d7c20a60b9","api_secret":"e2f724ba060f82ddf58923af494578a7","campaign_invitation":{"first_name":"Marielyn","last_name":"Alvarado","email":"","user_phone_number":"639173093543"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c13101a0ebaf9e1fe7143b6432ccd247"
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://my.talkpush.com/guests/campaign_invitations/936009/outbound_call?company_id=16\u0026outbound_token=45264fd8445b365d84a2a45f3b1603a04f451c5a030eb6f5953a142a5fc284ba\u0026source=MICROSITE","pin":"194745","id":936009}'
  recorded_at: Thu, 20 Jun 2019 13:16:06 GMT
- request:
    method: post
    uri: https://my.talkpush.com/api/talkpush_services/campaigns/3929/campaign_invitations
    body:
      encoding: UTF-8
      string: '{"api_key":"48530ba23eef6b45ffbc95d7c20a60b9","api_secret":"e2f724ba060f82ddf58923af494578a7","campaign_invitation":{"first_name":"Meri","last_name":"Alvarado","email":"","user_phone_number":"9173093543"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a4036eb02e9c7b37e46d12364a915444"
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://my.talkpush.com/guests/campaign_invitations/936010/outbound_call?company_id=16\u0026outbound_token=b217baa3527cf41d598347c0795d1f269b54f4b835f7d1340dea38df7a0898a9\u0026source=MICROSITE","pin":"510662","id":936010}'
  recorded_at: Thu, 20 Jun 2019 13:16:07 GMT
recorded_with: VCR 5.0.0
